body {
    margin: 150px;
    background: papayawhip;
    text-align: center;
  }

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px 8px;
    cursor: pointer;
    background-color: #4CAF50;
  }

.myDiv {
    margin: 20px;
    background-color: lightblue;    
    text-align: center;
    font-size: 80px;
  }


nav {
  float: left;
  width: 20%;
  background: peachpuff;
  padding: 20px;
  height: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

main {
  float: left;
  width: 70%;
  background: papayawhip;
  padding: 20px;  
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}